{% extends 'partials/base.html' %}

{% block content %}
<div class="conteiner_balance">
<div class="container-cards_regist balance read">
    <div class="card forms">
      <div class="box">
        <div class="content balance">
            <h1 class="textgrad">Apagar passivo "{{ passivo.nome }}"</h1>

            <p>Deseja realmente apagar o passivo "{{ passivo.nome }}"?</p>
        
            <div class="conteiner_div_for_btn">
                <div class="conteinerfor_btn"> 
                 
                <a class="link" href="{% url 'balance' %}" style="margin-top: 20px;">Cancelar a exclusão</a>
                <a href="#" class="link apagar" onclick="document.getElementById('form_delete_passivo').submit();" >Eu confirmo que quero apagar</a> 
            
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>
      
   
  </div> 
  
  
</div>
<form method="post" action="{% url 'delete_passivo' passivo.id %}" id="form_delete_passivo" style="display: none;">
    {% csrf_token %}
</form>
{% endblock content %}